.img-product {  
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }

  .card-body {
    padding: 0px !important;
    text-align: center;
  }

  .padding-bottom {
    padding-bottom: 5px;
  }

  .up{
    height: 30px;
    width: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    border: transparent;
  }

  .end{
    display: flex;
    justify-content: flex-end;
  }

  .discription_size{
      min-height:50px;
  }

  .witdh{
      min-width: 500px;
  }

  .card:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
.decoration{
  text-decoration: none;
  color : black
}

.height{
  height: 140px;
}

.shadow{
  text-shadow: 2px 2px;
}

.alignbtt{
  vertical-align: bottom;
}

.center{
  display: flex;
  justify-content: center;
}

